# DeepSeek AI 配置
DEEPSEEK_API_KEY=your_deepseek_apikey
DEEPSEEK_BASE_URL=https://api.deepseek.com

# CalDAV 日历配置（QQ 邮箱 CalDAV 地址需要加用户名路径）
CALDAV_URL=dav.qq.com
CALDAV_USER=example@qq.com
CALDAV_PASS=你的qq邮箱授权码

# 文件地址
DATA_PATH=data/group_792340423_20260223_230254.json

# 处理参数
MAX_MESSAGES=5000
